# Flutter & Dart
.dart_tool/
.build/
build/
.pub-cache/
.pub/
pubspec.lock

# IDE files
.idea/
.vscode/
*.iml
*.iws

# Android
android/key.properties
android/app/key.properties
*.apk
*.aab

# Environment & Secrets
.env
.env.local

# Hive & DB local data
*.hive
*.lock
